@charset "UTF-8";

ul {
    -webkit-margin-start: -0.7em;
}

.bell {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: #3d668f;
    position: relative;
    width: 15px;
    height: 15px;
    top: 50%;
    float: right;
    right: 40px;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    cursor: pointer;
}

/*.gear {
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    background-color: white;
    position: relative;
    width: 20px;
    height: 20px;
    top: 50%;
    float: right;
    right: 20px;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
    cursor: pointer;
}*/

.bell:hover {
    background-color: #18c4b5;
}

.gear:hover {
    border: 0.2857142857em solid #18c4b5;
}

.gear:hover:after,
.gear:hover:before {
    color: #18c4b5;
}

.bell:before,
.bell:after {
    content: "";
    position: absolute;
    background-color: inherit;
}

.bell:before {
    border-top-right-radius: 1000px;
    border-top-left-radius: 1000px;
    width: 140%;
    height: 70%;
    top: 50%;
    left: -20%;
}

.bell:after {
    border-bottom-right-radius: 1000px;
    border-bottom-left-radius: 1000px;
    width: 50%;
    height: 25%;
    top: 130%;
    left: 25%;
}

.gear {
    position: relative;
    width: 20px;
    height: 20px;
    top: 50%;
    float: right;
    right: 20px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    margin: 0.2em;
    width: 1em;
    height: 1em;
    background: white;
    border-radius: 50%;
    border: 0.2857142857em solid #3d668f;
    box-sizing: border-box;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.gear:before,
.gear:after {
    content: '×';
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-family: "times new roman";
    font-weight: bold;
    font-size: 2.5em;
    color: #3d668f;
}

.gear:after {
    -webkit-transform: translate(-50%, -50%) rotate(45deg);
    transform: translate(-50%, -50%) rotate(45deg);
}

/* plus icon */
.plus{
    position: relative;
    font-size: 20px;
    font-weight: bold;
}

/* btn style */
.btn {
    display: inline-block;
    color: #444;
    border: 1px solid #CCC;
    background: #DDD;
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    vertical-align: left;
    min-width: 90px;
    border-radius: 7px;
    padding: 5px;
    text-align: center;
}

.btn:hover {
    color: black;
    background: #ccc;
    box-shadow: 0 0 5px -1px rgba(0, 0, 0, 0.6);
}

/* creating a badge */
.badge {
    position: relative;
}

.badge[data-badge]:after {
    content: attr(data-badge);
    position: absolute;
    top: -10px;
    right: -10px;
    font-size: .7em;
    background: green;
    color: white;
    width: 15px;
    height: 15px;
    text-align: center;
    line-height: 18px;
    border-radius: 50%;
    box-shadow: 0 0 1px #333;
}